@model Todo

@{
    ViewData["Title"] = "Todo";
}

@if (Model != null)
{
    <img src="@MyDB.Users.First(user => user.Id == Model.UserId).Avatar" />
    <div>Name: @Model.Name</div>
    <div>@Model.CreatedAt</div>
    <div>Completed: @Model.IsComplete</div>
}
else
{
    <h1>Error</h1>
}